# Maven
/target/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# IDEs and editors
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed

# Others
*.swp
